* {
  display: flex;
  margin: 0;
  padding: 0;
}

html{
  display: block;
  font-size: 10px;
}

body{
  color: #333;
  line-height: 1.5rem;
  font-size: 1.6rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

#main {
  display: block;
  background-color: #f3f3f3f3;
  width: 100%;
  margin: 35px 15px 35px 15px;
  border-radius: 20px;
}

h1 {
  display: block;
  font-size: 4rem;
  margin-top: 35px;
}

p {
  display: block;
  padding: 40px 20px 20px 20px;
}

#img-div {
  display: block;
  margin: 0px auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 85%;
  max-height: 85%;
}

#image {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  max-height: 100%;
}

#img-caption {
  margin: 15px 15px 5px 15px;
}

#tribute-info {
  display: block;
  max-width: 65%;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

#tribute-info > h3{
  display: block;
  text-align: center;
  padding: 35px;
}

#tribute-info > ul {
  display: block;
  text-align: left;
  list-style-type: disc;
}

#tribute-info > ul > li {
  display: list-item;
  margin: 15px 0px;
}

#tribute-info > ul > li > strong {
  display: inline;
}

#tribute-info > blockquote {
  display: block;
  font-style: italic;
}

#ending {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  line-height: 2em;
}

#ending > a {
  display: inline;
}

@media (max-width: 460px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

@media (min-width: 1214px) {
  #img-div {
    width: 1032px;
    max-width: 1032px;
    height: auto;
  }
}
