html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.space {
  position: relative;
  width: 200px;
  height: 200px;
}

.earth {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  background-color: blue;
  border-radius: 50%;
  box-shadow: 1px 1px 15px blue;
}

.orbit {
  position: absolute;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: orbit 5s linear infinite;
}

.moon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 50%;
  border-radius: 50%;
  background-color: gray;
  transform: translate(-50%);
  box-shadow: 1px 1px 15px gray;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}