.sub-item-link {
  text-decoration: none;
  color: blue;
}

.sub-item-link:visited {
  color: green;
}

.sub-item-link:hover {
  color: red;
}

.sub-item-link:focus {
  outline: 2px solid blue;
}

.sub-item-link:active {
  color: green;
}

.container {
  display: block;
}

body {
  background-color: #f0f0f0;
}

.to-do {
  border-radius: 10px;
  display: block;
  max-width: 400px;
  margin-top: 100px;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.to-do h1 {
  padding-top: 40px;
  text-align: center;
  color: #333;
}

.todo-list {
  list-style-type: none;
  display: block;
  padding: 0;
  padding-bottom: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

.todo-list li {
  border-radius: 10px;
  background-color: #e5f1e5;
  position: relative;
  line-height: 1.6;
  padding: 10px;
  margin-bottom: 15px;
}

li {
  display: list-item;
}

.sub-item {
  list-style-position: outside;
  list-style-type: square;
}
