body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #83a4d4, #b6fbff);
    font-family: Arial, sans-serif;
}

.form-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 30vw;
  height: auto;
  margin: 50px auto;
}

label {
  display: inline-block;
  margin: 5px auto;
  color: #555;
  width: 100%;
  text-align: center;
}

h2 {
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 2px;
  margin-bottom: 25px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 70px;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #4CCF50;
  font-size: 1.1rem;
  border-radius: 6px;
  padding: 10px 15px;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #4CAB50;
  color: #f4f4f4f4;
}