body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

p {
    margin-bottom: 5px;
    margin-top: 5px
}

.business-card {
    width: 300px;
    border-width: 3px;
    border-style: outset;
    border-color: black;
    background-color: white;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.profile-image {
    border-style: double;
    border-color: gray;
    max-width: 55%;
}

a {
    text-decoration: none;
    color: brown;
}

.full-name {
    margin-top: 15px;
    font-size: 28px;
    color: darkslategray;
}

.designation {
    color: gray;
    font-size: 18px;
}

.company {
    color: darkgray;
    font-size: 16px;
    margin-bottom: 20px;
}

.portfolio-link {
    color: purple;
}

.social-media>a {
    margin: 10px;
    color: maroon;
    font-size: 14px;
}