tr[class="read"] {
  background-image: linear-gradient(rgba(120, 210, 150, 20%), rgba(0,255,0, 70%));
}

tr[class="to-read"] {
  background-image: linear-gradient(rgba(120, 210, 150, 20%), rgba(120, 190, 150, 60%));
}

tr[class="in-progress"] {
  background-image: linear-gradient(rgba(255, 160, 0, 40%), rgba(255, 160, 0, 100%));
}

span {
  display: inline-block;
}

tr[class="read"] span[class="status"] {
  width: 6rem;
  border-radius: 30px;
  border: 0.1em solid hsl(5, 100%, 45%);
  background-image: linear-gradient(hsl(120, 75%, 75%), hsl(120, 75%, 50%));
}

tr[class="to-read"] span[class="status"] {
  border-radius: 30px;
  width: 6rem;
  border: 0.1em solid hsl(5, 100%, 45%);
  background-image: linear-gradient(rgba(255, 0, 0, 40%), rgba(255, 0, 0, 100%));
}

tr[class="in-progress"] span[class="status"] {
  border: 0.1em solid hsl(5, 100%, 45%);
  width: 6rem;
  border-radius: 30px;
  background-image: linear-gradient(rgba(255, 160, 0, 40%), rgba(255, 160, 0, 100%));
}

span[class="status"], span[class^="rate"]{
 height: auto;
 width: auto;
 padding: 3px;
}

span[class^="rate"] > span {
  border: 0.1em solid hsl(0, 0%, 50%);
  border-radius: 50%;
  margin: 3px;
  height: 25px;
  width: 25px;
  background-color: white;
}

span[class~="one"] span:first-of-type {
  background-image: linear-gradient(rgba(255, 160, 0, 40%), rgba(255, 255, 0, 80%));
}

span[class~="two"] span:nth-of-type(-n+2) {
  background-image: linear-gradient(rgba(255, 160, 0, 40%), rgba(255, 255, 0, 80%));
}

span[class~="three"] span {
  background-image: linear-gradient(rgba(255, 160, 0, 40%), rgba(255, 255, 0, 80%));
}

table {
    border-collapse: collapse;
    width: 100vw;
}

.table-container {
    overflow-x: auto;
}

td {
  text-align: center;
}

th {
  background-image: linear-gradient(rgba(0, 0, 255, 10%), rgba(0, 0, 255, 35%));
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}