body {
 background-color: #f0f0f0;
 justify-content: center;
 display: flex;
}

.blog-post-card {
  background-color: white;
  border-radius: 40px;
  text-align: center;
  overflow: hidden;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.post-img {
  border-bottom: 4px solid black;
  width: 100%;
  height: auto;
}

.post-content {
  padding: 10px;
}

.post-title {
  color: Black;
  margin: 20px;
}

.post-excerpt {
  color: #667;
  margin: 20px;
}

.read-more {
  color: white;
  background-color: #333;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  display: inline-block;
  text-decoration: none;
}

.read-more:hover {
  cursor: pointer;
  background-color: #555;
}
