html {
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

header {
  font-size: 2em;
  padding: 15px;
  text-align: center;
  margin: 0;
}

section header {
  font-size: 1.8em;
  padding: 20px;
  text-align: left;
}

#navbar {
  position: fixed;
  border-right: 2px solid black;
  height: 100%;
  overflow-y: auto;
}

#main-doc {
  position: absolute;
  left: 320px;  
}

section article {
  color: #4d4e53;
  padding: 15px;
}

#navbar ul li a{
  text-decoration: none;
  color: #4d4e53;
  font-size: 1rem;
  display: block;
  margin-left: 15px;
  padding: 10px;
}

#navbar ul li {
  text-align: left;
  border-top: 1px solid gray;
  margin: 0;
  list-style-type: none;
  cursor: pointer;
}

#navbar ul {
  width: 100%;
  padding: 0;
}

code {
    display: block;
    text-align: left;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 815px) {

  #navbar {
    position: absolute;
    border-right: none;
    border-bottom: 2px solid black;
    max-height: 275px;
    width: 100%;
  }

  #main-doc {
  position: relative;
  top: 290px;
  left: 0;  
  }
}