* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --color1: #D2F2D4;
  --color2: #A8E1AF;
  --color3: #7ED08A;
  --color4: #54BE64;
  --color5: #2AAD3F;
  --color6: #009C1A;
  --solid-border: 0.1rem solid black;
  --dashed-border: 0.09rem dashed black;
}

.available-0 {
  background-color: var(--color1);
}

.available-1 {
  background-color: var(--color2);
}

.available-2 {
  background-color: var(--color3);
}

.available-3 {
  background-color: var(--color4);
}

.available-4 {
  background-color: var(--color5);
}

.available-5 {
  background-color: var(--color6);
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 32rem;
}

.sharp td{
  border-right: var(--solid-border);
  border-left: var(--solid-border);
  border-bottom: var(--solid-border);
}

.half td{
  border-right: var(--solid-border);
  border-left: var(--solid-border);
  border-bottom: var(--dashed-border);
}

tr {
  height: 1rem;
}

tr :first-child {
    width: 4rem;
}

.sharp th:not([class*="time"]) {
    border-bottom: var(--solid-border);
}

body {
    background-color: hsl(150, 30%, 75%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 3.5rem;
    text-align: center;
}

#legend span {
    width: 5rem;
    height: 2rem;
}

#legend-line {
    width: 60%;
    height: 100%;
    display: flex;
}

#legend-gradient {
    width: 100%;
    height: 60%;
    border: var(--solid-border);
    background-image: linear-gradient(90deg, var(--color1) 0% 17%, var(--color2) 17% 34%, var(--color3) 34% 50%, var(--color4) 50% 67%, var(--color5) 67% 83%, var(--color6) 83% 100%);
}