html {
  font-size: 24px;
}

body {
  background-color: #f8f8f8f8;
}

.newspaper {
  font-family: 'Open Sans', sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border-radius: 2px;
}

.name {
  text-align: center;
  font-size: 2rem;
  font-family: Times New Roman, serif;
}

.name, .author {
  text-transform: uppercase;
}

.headline {
  font-size: 2em;
  font-weight: bold;
}

.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
}

.author {
  font-weight: bold;
}

.text {
  text-indent: 20px;
  line-height: 2em;
}

.text::first-letter {
  text-transform: upper;
  font-weight: bold;
  font-size: 2em;
}

.date {
  text-align: center;
}