.wrapper {
  overflow: hidden;
}

#email {
  background-color: SeaShell;
  margin: 50px auto;
  padding: 50px;
  width: 500px;
  border: 2px solid black;
  box-shadow: 5px 3px 3px gray;
  box-sizing: border-box;
}

#confidential, #top-secret {
  display: inline-block;
  padding: 10px;
  border: 5px solid red;
}

#confidential {
  margin-left: 100px;
  text-align: center;
  font-size: 30px;
  transform: rotate(-20deg);
  color: red;
  font-weight: bold;
}

#top-secret {
  margin-left: 200px;
  text-align: center;
  font-size: 20px;
  transform: rotate(35deg);
  color: red;
  font-weight: bold;
}

.blurred {
  filter: blur(3px);
}